# Coursera Capstone Project

### This is a notebook created for the Coursera Capstone Project from the IBM Applied Data Science Capstone

In [1]:
# let's import a library to make the data analysis
import pandas as pd

In [2]:
path = 'http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
# let's import the data using Pandas library to convert the data in a DataFrame
df = pd.read_html(path, header=0, na_values=['Not assigned'])[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A               NaN               NaN
1      M2A               NaN               NaN
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
# let's ignore the cells with a borough that is Not assigned
df.dropna(subset=['Borough'], inplace=True)
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [5]:
# let's check if there are cells with a Neighbourhood that is Not assigned
df[df['Neighbourhood'].isna()]

  Postcode       Borough Neighbourhood
9      M9A  Queen's Park           NaN

In [6]:
# let's assigned the Borough to the Neighbourhood that is Not assigned
df['Neighbourhood'].fillna(df['Borough'], inplace=True)
df[df['Neighbourhood'].isna()]

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

In [7]:
# grouping by Neighbourhoods that have the same postcode
df_postcodes = df.groupby(['Postcode','Borough']).Neighbourhood.agg([('Neighbourhood', ', '.join)])
df_postcodes.reset_index(inplace=True)
df_postcodes.head(5)

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [8]:
print('The shape of the dataset is:',df_postcodes.shape) # the shape of the dataframe

The shape of the dataset is: (103, 3)